@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

.principal {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

h1 {
    font-size: 30px;
/*    font-family: 'Poppins', sans-serif; */
    font-family: 'Dosis', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    font-family: 'Source Code Pro', monospace;
    display: block;
    float: left;
    padding: 0 10px;
}

img.perfil {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transform: rotate(-30deg);
  /*animation: 2s rotate linear;
  transform-origin: 50% 50%;*/
}

#infofoto:hover {
  opacity: 0.4;
  transition: opacity 500ms;
}
